Scripts/pastix_release*
/install
/bin
\#*\#
*.patch
*~
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.dvi
*.pdf
*.bbl
*.flg
*.blg
*.mtc*
*.maf
*.thm
*.vrb
*.todo
*.pyc
*.pyo
*.trace
*.old
*.save
*.tmp
*.dump
*.data

/Scripts/regression/Conf/conf.py

/site2/log-compile
/site2/patch

/branches/install
/branches/*/config.in

/Articles/These-Mathieu/results/borderline-contention-blas1-N.png
/Articles/These-Mathieu/results/borderline-contention-blas3-N.png
/Articles/These-Mathieu/results/hagrid-contention-blas1-N.png
/Articles/These-Mathieu/results/hagrid-contention-blas3-N.png
/Articles/These-Mathieu/results/mc-contention-blas1-N.png
/Articles/These-Mathieu/results/mc-contention-blas3-N.png
/Articles/Figures/jumpshot.png
/Articles/Figures/vampir.png

/Articles/*/*/*.sty
/Articles/*/*/Figures
/Articles/*/Figures
/Articles/*/*/results

/Doc/refcard/api.tex
/Doc/refcard/dparm.tex
/Doc/refcard/iparm.tex

/Doc/long/algorithms/
/Doc/long/api.tex
/Doc/long/dparm.tex
/Doc/long/iparm.tex
/Doc/long/pastixman.idx
/Doc/long/pastixman.ilg
/Doc/long/pastixman.ind
/Doc/long/pastixman.nlo
/Doc/long/pastixman.nls


/Doc/*/*.pdf
/Doc/*/*.nav
/Doc/*/*.out
/Doc/*/*.snm
/Doc/*/*.toc

/results

# /Scritps/Modules/
/Scripts/Modules/Conf.pm
# /site/logs/
/site/logs/[0-9]*

# /site2/log-compile/
/site2/log-compile/laurel-[0-9]*-[0-9]*-[0-9]*

# /site2/logs/
/site2/logs/[0-9]*

# /trunk/
/config.in
/config.in.*
/TAGS
/murge


# /example/
/example/src/sutils.h
/example/src/cutils.h
/example/src/dutils.h
/example/src/zutils.h
/example/src/sutils.hpp
/example/src/cutils.hpp
/example/src/dutils.hpp
/example/src/zutils.hpp
/example/src/ssimple.c
/example/src/csimple.c
/example/src/dsimple.c
/example/src/zsimple.c
/example/src/ssimple_dist.c
/example/src/csimple_dist.c
/example/src/dsimple_dist.c
/example/src/zsimple_dist.c
/example/src/ssimple_param.c
/example/src/csimple_param.c
/example/src/dsimple_param.c
/example/src/zsimple_param.c

# /example/src/
/example/src/utils.mod

/sopalin/src/murge_fortran.c

/*/obj
/*/bin
/*/dep

/branches/*/*/obj
/branches/*/*/bin
/branches/*/*/dep
pastix.*
.fuse_hidden*